@use "variables";

/* Profile */
.profile {
  // border-style: solid;
  // border-color: variables.$light-gray;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  // border-radius: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

// adjust tile sizes on smaller screens
@include variables.media-query(variables.$on-phone) {
  @media screen and (max-width: variables.$on-phone) {
    .profile {
      width: 40%;
    }
  }
}
