// Width of the content area
$content-width: 800px;
$on-phone: 450px;
$on-palm: 660px;
$on-laptop: 1000px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

$base-font-family: "Arial", sans-serif;
$base-font-size: 20px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit: 30px;
$light-gray: gray;
$text-color: #333;
$background-color: #fdfdfd;
$brand-color: #f9bf3f;
$publicationbox-text: #333;

// Color scheme for light
$body-bg: #fdfcf9; // #fdfdfd;
$publicationbox: #f9bf3f;
$text-color: #333;

// Color scheme for dark modes
$body-bg-dark: #0b0326; //#23272d;
$publicationbox-dark: #f9bf3f;
$text-color-dark: #fdfcf9; //#98a0ac;
