---
layout: default
---

<h1 class="post-headline">{{page.title}}</h1>
<p class="meta">
  <small>{{page.date | date: '%B %d, %Y'}}</small>
  {% if page.publication %} |
  <small>{{page.publication}}</small>
  {% endif %} {% if page.doi %} |
  <small>
    <a href="https://doi.org/{{page.doi}}" target="_blank"
      >doi.org/{{page.doi}}</a
    ></small
  >
  {% endif %}
</p>

<div class="publicationArticle">{{content}}</div>

<!-- Comments only for posts -->
{% if page.path contains '_posts' %} {% if site.disqus-shortname %} {% include
disqus.html %} {% endif %} {% endif %}
